<div class="center hero-unit">
  <h1>Welcome to the list of Cafes</h1>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<table id="cafe_list">
  <tr>
    <th>Name</th>
    <th>Building</th>
    <th>Category</th>
    <th>Cost ($)</th>
    <th>Time (min)</th>
  </tr>

  <% @cafes.each do |cafe| %>
      <tr>
        <td><%= cafe.name %></td>
        <td><%= cafe.place %></td>
        <td><%= cafe.category %></td>
        <td><%= cafe.price %></td>
        <td><%= cafe.time %></td>
        <td><%= link_to 'Detail', cafe %></td>
        <td><%= link_to 'Edit Info', edit_cafe_path(cafe) %></td>
        <td><%= link_to 'Delete', cafe, method: :delete,
                        data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <%=  link_to 'Add new cafe', new_cafe_path %>
<% end %>