<% provide(:title, "Review of #{@cafe.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @cafe.name %>
      </h1>
      <ul>
        <li>Building: <%= @cafe.place %></li>
        <li>Category: <%= @cafe.category %></li>
        <li>Average cost: $<%= @cafe.price %></li>
        <li>Time to spend: <%= @cafe.time %>min</li>
      </ul>
      <%# for authorized user only <%= link_to 'Edit info', edit_cafe_path %>
      <%= link_to 'Back to cafe list', cafes_path %>
    </section>
  </aside>

  <div class="span8">
    <% if @cafe.reviews.any? %>
      <% if user_signed_in? %>
        <h3><%= link_to "Post your review", new_cafe_review_path(@cafe) %>  </h3>
      <% end %>
      <h3>Reviews (<%= @cafe.reviews.count %>)</h3>
      <ol class="reviews">
        <%# show reviews with users' name %>
        <%= render @reviews, :ref => "user" %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>
