<li>
  <span class="index">
    <% if ref == "user" %>
      By <%= review.user.name %>: <%= review.star %>
    <% elsif ref == "cafe" %>
      At <%= review.cafe.name %>: <%= review.star %>
    <% end %>
  </span>
  <span class="content"><%= review.content %></span>
  <span class="other info">
    Price: <%= review.price %>, Time: <%= review.time %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
</li>